/* Table of contents 
50  - Navbar 
120 - Navbar dynamic 
200 - slider 
220- about 
230 - services 
280 - team 
270 - promo 
380 - price plan 
520 - get in touch 
560 - slide replacement 
700 - gallery
720 - Modal (deleted replaced with LIGHTBOX)
830 - Clients
840 - PORTFOLIO (with all the projects shown - responsive)
*/ 
* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/* NEW NAVBAR */ 
#my-navbar {
  position: relative; 
  width: 100%; 
  position: fixed; 
  min-height: 80px; 
  background-color: #fff;
  color: #333; 
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  display: flex; 
  align-items: center; 
  justify-content: space-between;
  z-index: 10;
  padding: 20px 90px 20px 70px; 
  transition: all .4s ease;
}

#my-navbar.scrolled {
  opacity: .9; 
  padding: 0px 100px 0px 80px; 
}

#my-navbar.scrolled .my-ul-nav li {
  font-size: 1rem; 
}

.navbar-brand img {
  height: 42px;
  margin-bottom: 10px; 
}

.navbar-button {
  width: 30px; 
  height: 25px; 
  border: none; 
  background-color: transparent;
  position: absolute;
  top: 1.2rem; 
  right: 1.2rem; 
  outline: transparent !important;

  display: none; 
  flex-direction: column; 
  justify-content: space-between;
}

.navbar-button .my-bar {
  width: 100%; 
  border-radius: 10px; 
  background-color: #333; 
  height: 4px; 
}

.my-ul-nav {
  display: flex; 
  list-style-type: none;
  margin-bottom: 0px !important; 
}

.my-ul-nav li {
  padding: 0 7px;  
  font-size: 1.1rem; 
  transition: font-size .4s ease; 
}

.my-ul-nav li .my-nav-link {
  text-decoration: none;
  color: #333 !important; 
  text-transform: uppercase;
}

.my-ul-nav li .my-nav-link:hover {
  color: rgb(69, 79, 225) !important; 
}

@media (max-width: 900px) {

  #my-navbar {
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;  
  }

  #my-navbar.scrolled {
    padding: 0px 0px 0px 0px; 
  }

  .navbar-brand img {
    margin: 12px 0 10px 0; 
  }

  .navbar-button {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
  }
   
  .my-ul-nav {
    flex-direction: column; 
    width: 100%; 
    height: 230px; 
    transition: all .3s ease; 
    align-items: center; 
    overflow: hidden;  
    /* border: 1px solid blue;  */
  }

  .my-ul-nav.hide {
    height: 0px; 
  } 

  .my-ul-nav li {
    /* border: 1px solid red; */
    font-size: .9rem; 
    padding: 10px; 
    width: 100%; 
    text-align: center; 
  }

  .my-ul-nav li:hover {
    background-color: #bcbcbc;
  } 

  .my-ul-nav li .my-nav-link:hover {
    color: #333 !important; 
  }

  .navbar-brand img {
    transform: translateX(10px);
  }
}

/* slider */
#slider img {
  /*background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));*/
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);

}
#slider {
  width: 100%;
  /* display: none;  */
}
.carousel-caption {
  top: 35%;
  transform: translateY(-50%);
  bottom: initial!important;
}
.carousel-caption h5 {
  color: #fff;
  font-size: 42px;
}
/* -- ABOUT */

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
  opacity: 0; 
  transition: opacity 3s ease-in-out; 
  /* display: none;  */
}

#about.show-info {
  opacity: 1; 
}

#about button {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content {
  padding-top:20px;
}
.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600;
}
.progress {
  border-radius: 5px;
  margin-bottom: 15px;
}

@media (max-width: 840px) {
  #about h1 {
    font-size: 30px; 
  }
}

@media (max-width: 400px) {
  #about h1{
    font-size: 20px; 
  }
}

/* services */
#services {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(img/konf1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #efefef !important;
  padding-top: 50px;
  padding-bottom: 50px;
  /* display: none;  */
}
#services h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}
#services h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.services {
  margin-top: 40px;
}
.icon {
  font-size: 32px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#services p {
  color: #ccc;
  font-size: 14px;
  margin-top: 20px;
}
.services .col-md-3:hover {
  background: #007bff;
  cursor: pointer;
  transition: 0.7s;
}

@media (max-width: 450px) {
  #services h1 {
    font-size: 30px; 
  }
}

/*   TEAM --*/
.img-box {
  border: 1px solid black;
  overflow: scroll;
}
.profile-pic {
  border: 1px dotted red;
}
#team {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
  /* display: none;  */
}
h1 {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
h1::after {
  content: '';
  background: #007bff;
  display: block;
  margin: 20px auto 5px;
  width: 170px;
}
.profile-pic {
  margin-top: 25px;
}
.profile-pic .img-box {
  opacity: 1;
  display: block;
  position: relative;
}
.profile-pic .img-box img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.profile-pic .img-box img:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
}
.profile-pic h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff !important;
}
.profile-pic h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
#team .fab, #team .fa  {
  height: 30px;
  width: 30px;
  color: #007bff !important;
  background: #fff;
  border: 1px solid #007bff;
  font-size: 20px;
  padding: 4px;
  border-radius: 50%;
}
.img-box ul {
  border: 1px solid red;
  padding: 15px;
  position: absolute; /* img box's position is set to relative*/
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li {
  padding: 5px;
  display: inline-block;
}
.img-box:hover ul {
  opacity: 1;
}
.img-box ul, .img-box ul li {
  transition: 0.5s;
}
/* PROMO */
#promo {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/call2action.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: sans-serif;
  font-size: 38px;
  padding: 100px; 
  text-align: center
}

#promo .my-contianer {
  margin: 200px; 
  padding-top: 200x;
  padding-bottom: 200px;  
}

@media (max-width: 840px) {
  #promo {
    font-size: 35px; 
  }
}

@media (max-width: 400px) {
  #promo {
    font-size: 20px; 
    padding: 50px; 
  }
  
}


/** Price PLAN **/
#price {
  padding: 40px 0;
  background: #efefef;
}
.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover {
  box-shadow: 0 2px 20px #333;
}
.price-head {
  background-color: #2196f3;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}
.price-head h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.price-head p {
font-size: 25px;
color: #ccc;
font-weight: bold;
line-height: 30px;
}
#price span {
  font-size: 15px;
}
.price-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 15px;
  border: 1px solid red;
  text-align:center;
}
.price-content ul li {
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  list-style: none;
}
ul li:last-child {
  border: none;
}
.fa-check-circle {
  color: green;
  margin-right: 10px;
  font-size: 20px;
}
.price-button {
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}
.buy-btn {
  background-color: #2196;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;
}
.buy-btn:hover {
  border-color: 1px solid #fff;
  background-color: #3f51b5;
}
a {
  text-decoration: none!important;
  color: #fff!important;
}
/* Testimonials */
#testimonials {
  padding-top: 50px;
  padding-bottom: 80px;
}
#testimonials .row {
  margin-top: 30px;
}
.col-md-4 {
  margin: 40px auto;
}
#testimonials .container p {
  padding-bottom: 70px; 
}
.profile {
  padding: 70px 10px 10px;
  background-color: #efefef;
}
.user {
  width: 120px;
  border-radius: 50%;
}
.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fff;
}
.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}
#testimonials span {
  font-size: 12px;
  color: #333;
}

blockquote::before {
  content: '\201c';
  font-size: 40px;
  color: #007bff;
  position: relative;
  line-height: 10px;
  top: 5px;
  right: 5px;
}

.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.5s;
}
/* GET in TOuch */
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
.contact-form {
  padding: 15px;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
}
::placeholder {
  color: #999!important;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}
.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

/* --------------- Footer ------------*/
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.fa-heart-o {
  margin: 3px;
  color: red;
}
/* Slide replacement */
.slide {
  width: 100%;
  height: 100vh;
}
.slide:nth-child(1) {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(img/warszawa_belka.jpg) no-repeat center;
  background-size: cover;
}
.slide:nth-child(2) {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(img/wrzesnia.jpg) no-repeat center;
  background-size: cover;
}
.slide:nth-child(3) {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .2)), url(img/morawiecki.jpg) no-repeat center;
  background-size: cover;
}
.slide:nth-child(4) {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.8), rgba(38, 38, 38, .2)), url(img/konf1.jpg) no-repeat center;
  background-size: cover;
}
.slide-content {
  width: 500px;
  position: relative;
  top: 28%;
  left: 5%;
}
.slide-content h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
.slide-content p {
  font-family: 'Dois', sans-serif;
  font-size: 15px;
  color: #ccc;
}
.slide-content button {
  width: 130px;
  padding: 3px 10px 0 0;
  margin-top: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.slide-content {
  margin-left: 8px;
}
.slider-wrapper {
  overflow: hidden;
}
.slideshowzzz {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshowzzz 30s infinite;
}
@keyframes slideshowzzz {
  0% {left: 0}
  10% {left:0}
  
  15%{left: -100%}
  25%{left: -100%}

  30%{left: -200%}
  40%{left: -200%}

  45%{left: -300%}
  55%{left: -300%}

  60%{left: -200%}
  70%{left: -200%}

  75%{left: -100%}
  85%{left: -100%}

  90%{left: 0}
}
.mobile-banner {
  display: none;
}
@media(max-width: 700px) {
  .slide-content h3 {
    font-size: 25px;
  }
  .slide-content p {
    font-size: 12px;
  }
}
/* This part can replace slider in mobile viwew, if the slider does not work properly on mobile */
@media(max-width: 500px) {
  .slideshowzzz {
    visibility: hidden;
  }
  .slider-wrapper {
    padding-top: 125px; 
    height: 60vh;
    background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url(img/palac1.jpg) no-repeat center;
    background-size: cover;
  }
  .mobile-banner {
    display: block;
  }

  .mobile-content h2 {
    color: #fff!important ;
    text-align: center;
    font-size: 30px;
  }
  .mobile-content p {
    width: 70%;
    font-size: 15px;
    margin: 25px auto;
    text-align: center;
    color: #fff;
  }
}
/* Gallery header */ 
.gallery-header h3 {
  color: #555555; 
  padding-top: 40px; 
  text-align: center; 
  font-size: 40px;
  margin: 30px auto ; 
}

.gallery-header {
  opacity: 0; 
  transition: opacity 3s ease-in-out; 
}

.gallery-header.show-info {
  opacity: 1;
}

/* Gallery */

#my-gallery {
  box-sizing: border-box;
  width: 100%; 
  opacity: 0;
  transition: opacity 3s ease-in-out;
  margin-bottom: 50px; 
}

#my-gallery.show-info {
  opacity: 1; 
}

#my-gallery .my-images {
  margin: 0 auto; 
}

.my-images img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.my-images img {
  display: block; 
  filter: grayscale(0.7); 
  transition: all .5s linear;  
  width: 100%; 
  padding: 15px 0; 
}

.my-images a {
  display: block; 
}

#my-gallery .my-images {
  width: 90%; 
  width: 80%; 
}

.my-images img {
  width: 100%; 
  /* padding: 15px 0;  */
}

@media (max-width: 360px) {

  .my-images a {
    display: block; 
  }

  #my-gallery .my-images {
    width: 90%; 

    width: 80%; 
  }

  .my-images img {
    width: 100%; 
    /* padding: 15px 0;  */
    transform: scale(1);
  }
}

@media (max-width: 460px) {
  #my-gallery .my-images {
    width: 70%; 
    margin: 0 auto;
    padding: 30px 0; 

  }
} 

@media (min-width: 760px) {

  #my-gallery .my-images {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
  }

  .my-images a {
    flex-basis: 300px; 
  }

}

@media (min-width: 1024px) {
  #my-gallery .my-images {
    width: 85%; 
  }

  .my-images a {
    flex-basis: 280px; 
  }
}

/* Clients */ 
#clients h4 {
  margin-top: 100px; 
  text-align: center;
  color: #555555 !important;
  font-size: 40px;
}

.container .clients-image {
  width: 80%;
  padding-top: 120px; 
  padding-bottom: 60px; 
  margin: 0 auto; 
}

.clients-image img {
  width: 100%; 
}

/* New stuff */
.portfolio {
  background-color: #efefef;
  margin: 0px;
  padding: 50px 0 30px;
  width: 100%;
  color: #333; 
}
.portfolio h1{
  padding: 50px; 
  background-color: white;
  margin-bottom: 40px;
}

.portfolio .project {
  margin-bottom: 40px;
}
.portfolio .project:nth-of-type(odd) {
  background-color: #fff; 
}
.portfolio .project:nth-of-type(even) {
  background-color: #fff; 
}

.portfolio .web img {
  width: 100%;
  filter: grayscale(0.7);
  transition: all .5s ease; 
}

.web img:hover {
  filter: grayscale(0);
}

.portfolio .about {
  font-family:'Saira';
  font-weight: normal;
  padding: 25px 20px 20px 20px;
  text-align: left;
}

.portfolio .about h2{
  font-size: 18px;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  letter-spacing: .08rem;
  border-bottom: 1px dashed #333; 
  line-height: 150%; 
  padding: 0 20px 6px 20px; 
}

.portfolio .about p {
  font-size: 15px;
  padding-left: 10px;
  line-height: 150%;
  letter-spacing: .067rem;
}

@media (max-width: 1023px) {
  .portfolio .about p {
    font-size: 14px;
    padding-left: 20px;
    line-height: 150%;
    letter-spacing: .067rem;
  }

  .portfolio .web {
    padding: 20px; 
  }

  .portfolio .web img {
    width: 70%; 
    display: block; 
    margin: 0 auto;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.3);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .web,
  .about {
    width: 50%;
    float: left;
  }
  .web img {
    display: block;
  }
  .project:nth-of-type(even) .web {
    float: right;
  }
  .project:nth-of-type(even) .about {
    padding-right: 0;
  }
  .project:nth-of-type(even) p {
    padding-right: 20px;
  }
  .project:nth-of-type(even) .about h2 {
    text-indent: 0;
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .portfolio h1 {
    font-size: 30px;
  }
  .portfolio .about h2 {
    font-size: 28px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding: 6px 20px 0px 20px; 
    /* text-indent: 40px; */
  }
  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
  }
  .portfolio .project {
    margin-bottom: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1400px) {
  .portfolio h1 {
    font-size: 60px;
    padding: 30px 0;
  }
  .portfolio .about h2{
    padding-top: 50px;
    font-size: 28px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding: 6px 20px 0px 20px; 
    text-indent: 40px;
    margin-bottom: 50px;
  }
  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }
}

@media (max-width: 600px) {
  .portfolio h1 {
    font-size: 20px; 
  }

  .portfolio .web img {
    width: 100%; 
    display: block; 
    margin: 0 auto;
    box-shadow:none;
  }
  .portfolio .web {
    padding: 0px; 
  }
  .portfolio .about h2 {
    padding: 6px 20px 0px 20px; 
  }
}
